@font-face {
    font-family: OldLondon;
    src: url(OldLondon.ttf);
}

body {
	background-color: rgb(0,0,0);
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

.container {
	width: 100%;
}

.logo-wrapper {
	margin: 0 auto;
	width: 90%;
	max-width: 670px;
}

.logo {
	margin: 0 auto;
	width: 100%;
}

.god {
	display: block;
	width: 35%;
	margin: 0 auto;
	margin-top: -15%;
}

.info {
	text-align: center;
	font-family: OldLondon;
	font-size: 3.2vmax;
	font-size: 6vmin;
	color: rgb(255,255,255);
	margin: 0 auto;
	margin-top: 2%;
}

.info-link {
	transition: color .5s;
}

.info-link:hover {
	cursor: pointer;
	color: #ffcccc;
}

.player {
	display: block;
	transition: height .75s;
	margin: 0 auto;
	height: 180px /* permanent height of mixlr embed */;
	width: 100%;
	max-width: 600px;
}

.min {
	height: 0;
}