@import url(https://fonts.googleapis.com/css?family=Yrsa:500);
@import url(https://fonts.googleapis.com/css?family=Yrsa:400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	background-color: #fafafa;
	color: #373737;
	min-width: 100%;
}

h1 {
	color: #373737;
	font-family: 'Yrsa', serif;
	font-weight: 500;
	font-size: 40px;
}

h2 {
	color: #373737;
	font-family: 'Yrsa', serif;
	font-weight: 400;
	font-size: 20px;
	margin-top: 8px;
	margin-bottom: 12px;
}

h3 {
	color: #373737;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 16px;
	font-style: italic;
	margin-top: -5px;
}

ul > li {
	color: #373737;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 16px;
	margin-left: -22px;
}

p {
	color: #373737;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	font-size: 16px;
}

.repo-link {
	margin: 0 20% !important;
}

.project-sub, .project-sub:visited, .project-sub:active, .project-sub:link {
	margin: auto auto;
	color: #325791;
	font-family: 'Yrsa', serif;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
}

.project-sub:hover {
	color: #223b63;
	text-decoration: none;
}

.list-head {
	margin-bottom: 0px;
	margin-top: 15px;
}

.section-col {
	flex: 1 1 200px;
	overflow: auto;
}

.row-wrap {
	flex-flow: row wrap;
}

.sidebar-placeholder {
	pointer-events: none;
}

.fixbox {
	position: fixed;
	left: 0px;
}

.carousel-item {
	overflow: hidden;
	max-height: 100vh;
	max-width: auto;
}

.where {
	z-index: 100;
	min-height: 35px;
	min-width: 158px;
	background-color: #fafafa;
	position: absolute;
	top: 0;
	right: 47%;
	text-align: center;
	margin: 0 auto;
	margin-top: -5px;
	border-radius: .25em;
	opacity: .5;
	transition: opacity .5s;
}

.where:hover {
	opacity: 1;
	cursor: pointer;
}

.where > h3 {
	font-style: normal;
	margin-top: 10px;
}

.carousel-img {
	transition: filter 1s ease-out, opacity 1s;
}

.hide-map {
	opacity: 0;
	pointer-events: none;
}

#map-overlay {
	z-index: 99;
	transition: opacity 1s;
	float: right;
	min-height: 100vh;
	max-height: 100vh; 
	min-width: 100%;
	max-width: 100%;
	position: absolute;
	transition: opacity 1s;
}

#map-shell {
	height: 100vh;
}

.loading {
	filter: blur(20px);
}

.overfit {
	object-fit: cover;
	min-height: 110vh;
    -webkit-transform: translateZ(-999px) scale(2);
    transform: translateZ(-999px) scale(2);
    z-index: 3;
}

.none {
	display: none;
}

.nav-text {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

.wide-row {
	margin-left: -15px;
	margin-right: -15px;
}

.nameplate {
	font-family: 'Yrsa', serif;
	font-weight: 500;
	font-size: 48px;
	margin: 40px;
	margin-bottom: 20px;
}

.nav-item {
	font-family: 'Yrsa', serif;
	font-weight: 300;
	font-size: 20px;
	transition: background-color .25s;
	-webkit-transition: background-color .25s;
	-moz-transition: background-color .25s;
}

.nav-item:hover, .nav-item.hovered {
	background-color: #f6f6f6;

}

.nav-link {
	color: #373737;
}

.active-nav-item {
	background-color: #f6f6f6;
}

.section-nav {
	margin: 10px 20px;
	justify-content: center;
	order: 1;
	flex: 1 1 150px;
}

.section-nav-item {
	border-radius: .25rem;
}

.contact-grid {
	margin: 20px auto;
	flex: 1 1 25px;
	flex-direction: row !important;
}

.contact-cell {
	padding: 0;
	margin: 5px 10px;
	max-width: 50px;
	height: 50px;
}

.contact-img {
	max-width: 100%;
	height: auto;
	opacity: .3;
	transition: opacity .5s;
}

.contact-img:hover {
	opacity: .8;
}

.music-container {
	width: 100%;
	height: 100%;
	max-height: 424px;
	overflow: scroll;
	padding-left: 15px;
	transition: max-height 1s;
	position: relative;
}

.music-container-min {
	max-height: 0px !important;
	overflow: hidden;
}

.music-caption {
	font-family: 'Yrsa', serif;
	font-weight: 400;
	font-size: 16px;
	color: #a0a0a0;
	font-style: italic;
	margin: 15px 0px;
	position: relative;
}

.music-img {
	width: 100%;
	height: auto;
	position: absolute;
	right: 0;
}

.music-sizer {
	height: 1375px;
}

.music-img-wrapper {
	position: relative;
	min-height: 100%;
	overflow: visible;
}

.play-button {
	display: block;
	opacity: 0;
	height: auto;
	max-height: 90px;
	max-width: 90px;
	margin: 23.5px auto;
	transition: opacity .2s;
}

.play-button img {
	max-height: 100%;
	max-width: 100%;
}

.play-button:hover {
	opacity: .5;
}

.play-overlay {
	min-width: 100%;
	position: absolute;
}

.play-flex {
	display: flex;
	justify-content: space-around;
}

.content-container {
	pointer-events: none;
	-webkit-transform: translateZ(999px) scale(1);
    transform: translateZ(999px) scale(1);
    z-index: 1;
}

.role-title {
	font-size: 34px;
}

.role-subtitle {
	margin-top: 8px;
	font-size: 28px;
}

.bumper {
	height: 100vh;
}

.section {
	display: flex;
	transition: height 1s;
  	align-items: center; 
  	justify-content: center;
	background-color: #fafafa;
	margin: 30px 35px;
	padding: 30px;
	pointer-events: auto;
	border-radius: .25rem;
	min-height: 384px;
	flex-flow: row wrap;
}

#experience {
	flex-flow: row wrap;
}

.section-me {
	flex-grow: .3;
}

.section-text {
	position: relative;
	margin: 0px 20px;
}

.right-flyer, .left-flyer {
	display: inline-block;
	transition: transform 1s cubic-bezier(.72,.01,.8,.18);
}


.right-anim {
	transform: translateX(300px);
}

.left-anim {
	transform: translateX(-300px);
}

.toggleable {

}

.togglebox {
	flex: 2 2 600px;
	order: 2;
	max-height: 100%;
	align-items: center;
	max-width: 78%;
}

.inactive-content {
	opacity: 0;
	display: none;
	pointer-events: none;
}

.review-thumb {
	flex: 1 1 50px;
	display: flex;
	min-width: 50px;
	margin: 10px 10px;
}

.review-pic {
	border-radius: 10%;
	opacity: .5;
	transition: opacity .5s;
	max-width: 100%;
	height: auto;
}

.review-pic:hover, .review-pic.hovered {
	opacity: 1;
}

.trash {
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

.trash:hover {
	transform: rotate(360deg);
}

.reviews {
	overflow: visible;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 15px;
	padding-right: 10px;
	flex-flow: row wrap;
}

.skill {
	min-width: 145px;
	margin-bottom: 0;
}

.skill-container {
	padding: 25px;
	padding-right: 40px;
}

#skills {
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.skill-img {
	width: 50px;
	height: auto;
	margin: 15px auto;
	opacity: .5;

	transition: opacity .5s;
}

.skill-img:hover {
	opacity: 1;
}

.skill-row {
	justify-content: center;
}

.wulogo {
	position: relative;
	display: block;
	max-height: 100%;
	height: 80%;
}

.me-img {
	margin: 40px auto;
	opacity: .9;
	transition: opacity .25s;
	-webkit-transition: opacity .25s;
	-moz-transition: opacity .25s;
	display: block;
	max-width: 200px;
	height: auto;

	border-radius: 50%;
}

/*.aspect-flex {
	position: relative;
	max-width: 200px;
	min-width: 100px;
	max-height: 200px;
	min-height: 100px;
	flex: 1 1 100%;
	margin: 0px 25px;
}*/

.me-img:hover {
	opacity: 1;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 500px) {
	.section {
		padding: 5px !important;
		margin: 20px 5px !important;
	}

}

@media only screen and (max-width: 590px) {
	.skill-text {
		min-width: 100%;
	}

}

@media only screen and (max-width: 726px) {
	.lefty {
		display: none !important;
	}

}

@media only screen and (max-width: 870px) {
	.skill-text {
		max-width: 20%;
	}
}

@media only screen and (max-width: 1112px) {
	.custom-sites {
		min-width: 100%;
	}
}

@media only screen and (max-width: 1135px) {
	.nameplate {
		font-size: 28px !important;
	}
	.nav-item {
		font-size: 16px !important;
	}
}

@media only screen and (max-width: 1195px) {
	.right-flyer, .left-flyer {
		display: none !important;
	}

}

@media only screen and (max-width: 1256px) {
	.section-nav {
		flex-direction: row !important;
			text-align: center;
	}
}

@media only screen and (max-width: 1497px) {
	.nameplate {
		font-size: 36px !important;
	}

}
