@import url(https://fonts.googleapis.com/css?family=Roboto:900i);
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
	background-color: #f9f9f9;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}

body {
	color: #f9f9f9;
	background-color: transparent;
	font-size: 24px;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 140px;
	color: #303030;

	/* thanks, mdo <3 */
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.navbar {
    background-color: #303030;
    border-style: none;
    border-radius: 0px;
    color: #f9f9f9;
}
.navbar-default .navbar-nav>li {
	padding: 10px;
	transition: background-color .5s;
}

.navbar-default .navbar-nav>li:hover {
	background-color: #444444;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #f9f9f9;
}

#header {
	margin-left: 50px;
	margin-bottom: 25px;
/*	position: fixed;
	z-index: -1;*/
}