@import url(https://fonts.googleapis.com/css?family=Roboto:900i);

html, html body {
	background-color: #f9f9f9;
	color: #303030;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-style: italic;
	font-size: 140px;
}
.navbar {
    background-color: #303030;
    border-style: none;
    border-radius: 0px;
}
.navbar li a {
	color: #f9f9f9;
}

#header {
	margin-left: 50px;
	margin-bottom: 25px;
}